.changeid {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 200px 700px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
  }
  .changeid button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    width: 180px;
  }
  
  .ProfileIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 50%;
    color: yellow; /* Add this line to change the icon color */
  }
  
  