.footer {
    background-color: rgb(222, 238, 246);
    color: black;
    font-size: 14px;
    padding: 50px 0;
    margin-left:200px;
    margin-right: -50px;
    margin-bottom: -50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerlogo {
    width: 200px;
    margin-bottom: 30px;
}

.applestore {
    margin-top: 20px;
}

.googlestore {
    margin-top: 20px;
}

.footer-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.footer-links {
    margin-right: 10px;
}

.footer-services {
    margin-right: 10px;
}

.footer-info {
    margin-right: 10px;
}

h6 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerLinks {
    color: #024ea2;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footerLinks:hover {
    color: #3458bb;
}

.footer-info p {
    color: #024ea2;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-info p:hover {
    color: #3458bb;
}
