.pie-charts-wrapper{
  margin-top: 200px;
  margin-left: 70px;
}

.central-elections-chart{
  margin-left: 90px;
}

.local-elections h1{
  margin-left: 90px;
  margin-bottom: 170px;
}

.chart-container h3{
  margin-left: 70px;
}

.chart-container {
  text-align: center;
}

.chart-container {
  margin-bottom: 20px; 
}
