.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    background-color: #024ea2;
  }
  
  .logo img {
    height: 70px; /* Adjust the height as per your logo size */
    margin-top: 15px;
    margin-left: -360px;
  }
  
  .toggle-switch {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: -200px;
  }
  
  /* Add any additional styles as needed */
  

header {
    background-color: #024ea2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sq {
    padding-right: 10px;
    color: white;
}

.en {
    padding-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
        .slider.round:before {
            border-radius: 50%;
        }