* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 1000px; 
    margin: 0 50px; 
  }
  
  .main-content {
    display: flex;
    justify-content: space-around;
    margin-top: 240px;
    margin-bottom: 190px;
    margin-left: 120px;
  }
  
  .small-text {
    margin-top: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #0E4578;
  }
  
  #voto {
    position: absolute;
    width: 192px;
    height: 212px;
    left: 953px;
    top: 87px;
  }
  
  .row {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-weight: bold;
  }
  
  .card-button {
    background-color: #0a223d;
    color: white;
    padding: 13px 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .card-container {
    margin: 0 auto;
    padding: 0 15px;
  }
  
  #card-photos {
    width: 100%;
  }
  
  .partite-title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  #vv-photo {
    width: 100%;
    height: 250px;
    border: 2px solid red;
  }
  
  #ldk-photo {
    width: 100%;
    height: 250px;
    border: 2px solid black;
  }
  
  #pdk-photo {
    width: 100%;
    height: 250px;
    border: 2px solid lightblue;
  }
  
  .votat {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  
  .prev-elections__title {
    text-align: center;
    padding-top: 25px;
    color: white;
  }
  
  .small-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #C6D8EE;
  }
  
  .desc-title {
    text-align: center;
    margin-top: 15px;
  }
  
  .desc {
    font-weight: lighter;
    margin-top: 36px;
  }
  
  #hth {
    width: 350px;
    height: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .small-description {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 175px;
  }
  
  .text-part {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0E4578;
  }
  
  #rks {
    width: 500px;
  }
  
  