.div1 {
    text-align: center;
    padding: 50px 0;
  }
  
  .headers1 {
    color: blue;
    font-weight: bold;
    margin-top: 175px;
  }

  .candidatesHeader{
   padding-top: 30px;
  }
  
  .wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .row1 {
    margin-top: 100px;
    margin-bottom: 100px;
}
  .column1 {
    width: 27.33%;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 0 8px;
    float: left;
  }
  
  .cards {
    box-shadow: 0 4px 8px 0 rgb(242, 242, 171);
  }
  
  .col{
    margin-left: 140px;
  }
  .card-container {
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
  }
  
  #card-photos {
    width: 100%;
  }

  .title{
    padding-top: 8px;
  }
  h2{
    padding-top: 5px;
  }
  /* .container{
    padding-bottom: 25px;
  } */
  
  .partite-title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .my-button1 {
    padding: 6px 140px;
    border-radius: 5px;
    background-color: #C6D8EE;
    color: darkslategrey;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 20px;
    border: 1px solid darkslategrey;
}