.form {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(20, 20, 21);
  background-color: #024ea2;
  max-width: 1200px;
  max-height: 700px;
}

.auth-form-container h2{
  margin-top: 9px;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.logo img{
  margin-left: 300px;
  margin-right: 250px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  
}

input {
  margin: 0.5rem 0;
  padding: 1.5rem;
  border: rgb(255, 255, 255);
  border-radius: 12px;
  background-color: aliceblue;
  
}

button {
  border: none;
  background-color: hsl(61, 100%, 50%);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  color: #151313;
  margin-top: 10px;
}

.link-btn {
  background: none;
  color: rgb(97, 95, 95);
  text-decoration: underline;
}

.role{
  margin: 20px;
}

