.Login{
  text-align: center;
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  color: rgb(20, 20, 21);
  background-image: linear-gradient(90deg, #050cd4, #050cd4 48%, #ffffff);
  z-index: 0;
}

.auth-form-container{
  z-index: 2;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  z-index: 2;
  
}

@media screen and (min-width: 400px) {
  .auth-form-container {
    padding: 8.5rem;
    border: 2px solid rgb(249, 255, 253);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-left: 45rem;
    width: 500%;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
  
}

input {
  margin: 0.5rem 0;
  padding: 1.5rem;
  border: rgb(255, 255, 255);
  border-radius: 12px;
  background-color: aliceblue;
  
}
/*buton */
button {
  border: none;
  background-color: hsl(61, 100%, 50%);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  color: #151313;
  margin-top: 10px;
}
/*test*/
.link-btn {
  background: none;
  color: rgb(97, 95, 95);
  text-decoration: underline;
}

