.votoketu{
  margin-left: 100px;
}
.zgjedhjet {
    max-width: 1200px;
    transform: translateY(1.5cm);
  }

  h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .buttons{
   margin-top: 100px;
   margin-bottom: 200px;
  }

  button {
    display: block;
    width: 400px;
    padding: 20px;
    background-color: #77b3f7;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }

  .zgjedhjetQendrore-btn:hover,
.zgjedhjetLokale-btn:hover {
  background-color: #0056b3;
}
  