body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.candidatewrapper{
  margin: 10px;
}

.card-actions{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: flex-end; /* Bottom alignment */
  padding: 8px 115px; /* Optional padding for spacing */
  height: 100%; /* Ensure the div takes up the full height */
}

.card-actions button{
  justify-content: center;
  margin-left: -170px;
  max-width: 100%;
}

.central-vote{
  margin-left: 200px;
}


