/* CSS for initial styles */
.sidebar {
  background-color: #024ea2;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hide the sidebar off the screen */
  width: 250px;
  overflow-x: hidden;
  padding-top: 20px;
  transition: left 0.3s; /* Add a transition for smooth animation */
}

/* CSS for responsive styles */
.sidebar.open {
  left: 0; /* Show the sidebar when it's open */
}

/* Media query for hiding the button when the sidebar is open */
#toggleSidebar {
  display: none;
}

/* Media query for showing the button on smaller screens when the sidebar is open */
@media screen and (max-width: 768px) {
  .sidebar.open {
    left: 0;
  }

  #toggleSidebar {
    display: block;
  }
}
